<footer class="myFooter">
    <hr />
    <p class="footer_info" >CRON Job executes daily at 11 AM <b>|</b> APP_PASSWORD is set in Heroku environment variables</p>
    <p class="footer_info" >%%% im content feld wird zum Namen des Empfängers <b>|</b> Hallo, %%%! -------> wird zu ------> Hallo, Jasper!</p>
    
    <span class="footer_span" >Nils Kaden - fruehstarter &copy;2018</p>
</footer>