<footer class="myFooter">
    <hr />

    <span>Nils Kaden for fruehstarter &copy;2018</span>
    <span>Templates can be found in /app/views/user_mailer/newsletter.html.erb, as well as .../newsletter.text.erb</span>
    <span>Subject can be changed in /app/mailers/user_mailer.rb</span>
    <span>CRON Job executes daily at 11 AM</span>
    <span>APP_PASSWORD is set in Heroku environment variables</span>
</footer>