<footer class="myFooter">
    <hr />
    <p class="footer_info" >Templates can be found in /app/views/user_mailer/newsletter.html.erb and /newsletter.text.erb <b>|</b> CRON Job executes daily at 11 AM</p>
    <p class="footer_info" >Subject can be changed in /app/mailers/user_mailer.rb <b>|</b> APP_PASSWORD is set in Heroku environment variables</p>
    
    <span class="footer_span" >Nils Kaden - fruehstarter &copy;2018</p>
</footer>