<footer class="myFooter">
    <hr />
    <p class="footer_info"> %title%, %first%, und %last% im Content-Field werden durch Userdaten ersetzt</p>
    <p class="footer_info" >%title% => Frau/Herr</p>
    <p class="footer_info" >%first% => Vorname</p>
    <p class="footer_info" >%last% => Nachname</p>
    <p class="footer_info" >CRON Job executes daily at 11 AM</p>
    <span class="footer_span" >Nils Kaden - fruehstarter &copy;2018</p>
</footer>