<header class="navbar">
    <div class="container">
        <%= link_to image_tag("logo.png", alt: "fruehstarter newsletter"), 'http://fruehstarter.net' %>
        <%= link_to "User", users_path %>
        <%= link_to "Template", '/rails/mailers/user_mailer/birthday_mail' %>
    </div>
</header>